@model Assignment9.Controllers.Albumbase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Albumbase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.UrlAlbum)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depiction)
        </dt>

        <dt>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Depiction)
            </div> 
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") | 
    @Html.ActionLink("Add Track", "Addtrack")
</p>
